<div class="container-fluid my-5">
    <div class="d-flex justify-content-center">
        <div class="box">
            <div class="text-center mt-3">
                <img src="https://i.imgur.com/JxsUz1j.png">
            </div>
            <div>
                <h4 class="text-center"> ...ma cosa è Fabula?</h4>
                <p class="justify-content-start"> Fabula nasce con l’idea di aiutare i giovani autori emergenti italiani
                    che hanno sempre trovato difficoltà nella pubblicazione dei propri scritti ed il relativo guadagno,
                    spesso al netto di percentuali “versate” alla piattaforma sulla quale si desidera pubblicare.<br>
                    Fabula vuole, tramite anche i propri servizi offerti, aiutare i giovani scrittori a trovare un posto
                    dove poter pubblicare i propri lavori e guadagnare senza dover cedere percentuali, e allo stesso
                    tempo hanno la possibilità di essere supportati (tramite l’acquisto di servizi) dallo staff che li
                    aiuterà passo passo nella pubblicazione.<br><br>
                    Per maggiori informazioni vai alla pagina dei <a routerLink="/pacchetti" target="_self"
                        id="userIcon">pacchetti</a> o scrivi un'email al nostro staff per qualsiasi dubbio o
                    chiarimento!
                </p>
                <h4 class="text-center"> Contattaci</h4>
                <p class="text-center">
                    <i class="bi bi-envelope-at"></i> Email: <a href= "mailto:sara.cirone93@gmail.com">fabula@mail.com</a><br>
                    <i class="bi bi-discord"></i> Discord: <a href="https://discord.gg/G8u5JGfc"> Unisciti al canale!</a><br>
                    <i class="bi bi-telegram"></i> Telegram: <a href=""> Scrivici su telegram!</a>
                </p>
            </div>
        </div>
    </div>
